
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>@yorzi</title>
  <meta name="author" content="Andy Wang">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  

  <link rel="canonical" href="http://blog.wangyaodi.com/page9/index.html"/>
  <link href="/favicon.png" rel="shortcut icon" />
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="http://s3.amazonaws.com/ender-js/jeesh.min.js"></script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  
  <link href="/atom.xml" rel="alternate" title="@yorzi" type="application/atom+xml"/>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-11967621-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


  
  <script type="text/javascript">
    (function() {
      var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
      script.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
    })();
  </script>


  

  <!--Fonts from Google's Web font directory at http://google.com/webfonts -->
<link href='http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>

</head>

<body  >
  <header><hgroup>
  <h1><a href="/" style="color:red">@yorzi</a></h1>
  
  <a href="https://github.com/yorzi/life_blog"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/forkme.png" alt="Fork me on GitHub"></a>
</hgroup>

</header>
  <nav role=navigation><ul role=subscription data-subscription="rss email">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
    <li><a href="wangyaodi@gmail.com" rel="subscribe-email" title="subscribe via email">Email</a></li>
  
</ul>
<form action="http://google.com/search" method="get">
  <fieldset role="site-search">
    <input type="hidden" name="q" value="site:blog.wangyaodi.com" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
<ul role=main-navigation>
  <li><a href="http://tech.wangyaodi.com">技术闲谈</a></li>
  <li><a href="http://about.me/wangyaodi">关于安迪</a></li>
  <li><a href="/blog/archives">博客存档</a></li>
  <li><a href="https://plus.google.com/108320517625960982177/about?hl=en" style="color:red">@yorzi</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div class="blog-index">



  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/04/19/%E6%A2%B3%E7%90%86/">梳理</a></h1>
    
    
      <p class="meta">




<time datetime="2010-04-19 00:00:00 +0800" pubdate  updated >Apr 19<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p>脑子里瞬间混乱起来，就像没有认真完成一件事情似的懊恼。</p>




<p>算计着流水一样的日子，掐着指头，时间横竖都是不够。我知道自己还是有些浮躁，如果学无止境，那学就是了，何必如此在乎结果。话说回来，就算我能够将所有的琐碎安排的天衣无缝，又何尝不是某种悲哀。</p>




<p>还是决定不再刻意去计较得失，年轻的时候，勇气和信念很重要，剩下来的就是珍惜时间，努力，再多一点努力！</p>




<p>Andy，加油！</p>

</div>
  <footer>
    <a rel="full-article" href="/2010/04/19/%E6%A2%B3%E7%90%86/">Read on &rarr;</a>
  </footer>


  </article>


  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/04/19/%E4%BD%A0%E4%B8%BA%E4%BB%80%E4%B9%88%E8%A6%81%E7%94%A8dropbox/">你为什么要用Dropbox</a></h1>
    
    
      <p class="meta">




<time datetime="2010-04-19 00:00:00 +0800" pubdate  updated >Apr 19<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p>点击下面的连接注册Dropbox：
<a href="https://www.dropbox.com/referrals/NTQ4OTQyNjk5" target="_blank">https://www.dropbox.com/referrals/NTQ4OTQyNjk5</a></p>




<p>为什么要使用Dropbox？因为非常非常有用，赶紧了解一下啦～<a href="http://www.google.com/search?hl=en&amp;newwindow=1&amp;q=%E4%B8%BA%E4%BB%80%E4%B9%88%E8%A6%81%E4%BD%BF%E7%94%A8dropbox&amp;btnG=Search&amp;aq=f&amp;aqi=&amp;aql=&amp;oq=&amp;gs_rfai=" target="_blank">点击查看</a>～</p>




<p>这里面有个明显的阳谋，那就是：你通过上面的连接注册并且使用的话，我能得到额外赠送的使用空间，哈哈～</p>




<p>谢谢！</p>

</div>
  <footer>
    <a rel="full-article" href="/2010/04/19/%E4%BD%A0%E4%B8%BA%E4%BB%80%E4%B9%88%E8%A6%81%E7%94%A8dropbox/">Read on &rarr;</a>
  </footer>


  </article>


  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/04/18/%E5%AD%B0%E5%AF%B9%E5%AD%B0%E9%94%99-justice-harvard-lecture/">孰对孰错 [Justice Harvard Lecture]</a></h1>
    
    
      <p class="meta">




<time datetime="2010-04-18 00:00:00 +0800" pubdate  updated >Apr 18<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p>很久之前看过一个视频，是哈佛大学的一个公开课项目的第一讲，当时印象深刻，很受触动。本来昨天想贴在BLOG上面分享一下，结果怎么都找不到，最后突然想到了关键词: Justice + Harvard. 结果找到了一堆相关的材料，所谓心潮澎湃，就是发现新大陆的感觉。</p>




<p>网络时代有很多便利，可以在Twitter上面和苍井空老师零距离接触，也可以选修哈佛的公开课，和各路大神同路而行变的史无前例的方便，这个时候，只有傻瓜才会无聊的不知所错。</p>




<p>强烈推荐这个公开课，因而把所有的材料备份在这里，和大家分享之。<br />
1. 官方网站：<a href="http://www.justiceharvard.org/">http://www.justiceharvard.org/ </a>
2. VeryCD下载页面：<a href="http://www.verycd.com/topics/2803004/">http://www.verycd.com/topics/2803004/</a></p>




<p>下面的视频是在Youku上面的双语版讲座，可以先简单做个了解。</p>




<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="480" height="400" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="align" value="middle" /><param name="src" value="http://player.youku.com/player.php/sid/XMTQ3NDg5MDQw/v.swf" /><param name="quality" value="high" /><embed type="application/x-shockwave-flash" width="480" height="400" src="http://player.youku.com/player.php/sid/XMTQ3NDg5MDQw/v.swf" quality="high" align="middle"></embed></object></p>

</div>
  <footer>
    <a rel="full-article" href="/2010/04/18/%E5%AD%B0%E5%AF%B9%E5%AD%B0%E9%94%99-justice-harvard-lecture/">Read on &rarr;</a>
  </footer>


  </article>


  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/04/17/ted-com/">TED.com</a></h1>
    
    
      <p class="meta">




<time datetime="2010-04-17 00:00:00 +0800" pubdate  updated >Apr 17<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p>今天我要介绍TED。必须的。</p>




<p>简单搜索了一下，GR里面有很多共享的内容都和TED有关，下面摘抄<a href="http://www.lixiaolai.com/" target="_blank">笑来老师</a>的一段介绍文字：
<blockquote><a href="http://www.ted.com" target="_blank"><strong><em>TED.com</em></strong></a><em>的首页标题是“TED: Ideas worth spreading”。TED是Techonology, Entertainment, Design三个词的词头字母缩写。 </em><a href="http://www.ted.com/index.php/pages/view/id/215" target="_blank"><em>劳力士</em></a><em>和</em><a href="http://www.ted.com/index.php/pages/view/id/202" target="_blank"><em>宝马</em></a><em>是TED的主要赞助商。</em></blockquote>
<blockquote>TED stands for <em>Technology</em>, <em>Entertainment</em>, <em>Design</em>. It started out (in 1984) as a conference bringing together people from those three worlds. Since then its scope has become ever broader.</blockquote></p>




<p>The annual conference now brings together the world&#8217;s most fascinating thinkers and doers, who are challenged to give the talk of their lives (in 18 minutes).</p>




<p>This site makes <strong>the best talks and performances from TED available to the public, for free.</strong> More than 200 talks from our archive are now available, with more added each week. These videos are released under a Creative Commons license, so they can be freely shared and reposted.</p>




<p><strong>Our mission: Spreading ideas.</strong></p>




<p>We believe passionately in the power of ideas to change attitudes, lives and ultimately, the world. So we&#8217;re building here a clearinghouse that offers free knowledge and inspiration from the world&#8217;s most inspired thinkers, and also a community of curious souls to engage with ideas and each other. This site, launched April 2007, is an ever-evolving work in progress, and you&#8217;re an important part of it. Have an idea? We want to hear from you.</p>




<p>The TED Conference, held annually in Long Beach, is still the heart of TED. More than a thousand people now attend &#8211; indeed, the event sells out a year in advance &#8211; and the content has expanded to include science, business, the arts and the global issues facing our world. Over four days, 50 speakers each take an 18-minute slot, and there are many shorter pieces of content, including music, performance and comedy. There are no breakout groups. Everyone shares the same experience. It shouldn&#8217;t work, but it does. It works because all of knowledge is connected. Every so often it makes sense to emerge from the trenches we dig for a living, and ascend to a 30,000-foot view, where we see, to our astonishment, an intricately interconnected whole.</p>




<p>In recent years, TED has spawned some important extensions.</p>




<p><strong>TEDGlobal</strong> is a sister conference held every other year, and in a different country on each occasion. The first conference was held in Oxford, England, in 2005; the second, in June 2007, was held in Arusha, Tanzania. The themes of the global conference are slightly more focused on development issues, but the basic TED format is maintained.</p>




<p>The TED Prize is designed to leverage the TED Community&#8217;s exceptional array of talent and resources. It is awarded annually to three exceptional individuals who each receive $100,000 and, much more important, the granting of &#8220;One Wish to Change the World.&#8221; After several months of preparation, they unveil their wish at an award ceremony held during the TED Conference. These wishes have led to collaborative initiatives with far-reaching impact.</p>




<p>TEDTalks began as a simple attempt to share what happens at TED with the world. Under the moniker &#8220;ideas worth spreading,&#8221; talks were released online. They rapidly attracted a global audience in the millions. Indeed, the reaction was so enthusiastic that the entire TED website has been reengineered around TEDTalks, with the goal of giving everyone on-demand access to the world&#8217;s most inspiring voices.</p>




<p>Today, TED is therefore best thought of as a global community. It&#8217;s a community welcoming people from every discipline and culture who have just two things in common: they seek a deeper understanding of the world, and they hope to turn that understanding into a better future for us all.
<blockquote><strong><em> TED.com</em></strong><em>的每一个讲演者的讲演内容都非常精彩（“必须的”），每个视频都提供打包下载。最近几天feedburner.com不知为什么又解封了，于是，可以</em><a href="http://feeds.feedburner.com/tedtalks_video" target="_blank"><em>订阅</em><strong><em>TED.com</em></strong><em>的Feed</em></a><em>。很多话题都非常地有趣，比如“</em><a href="http://blog.ted.com/2008/05/alisa_miller.php" target="_blank"><em>The bad news about the news: Alisa Miller on </em><strong><em>TED.com</em></strong></a><em>”讲的是“美国传媒是如何为渴望获得</em><strong><em>更多</em></strong><em>信息的大众提供</em><strong><em>更少</em></strong><em>信息的……”。</em></blockquote></p>




<p><em>有些学生反映说“要是有字幕就好了”——其实，</em><strong><em>TED.com</em></strong><em>上有相当一部分视频是有完整的Transcript的：【</em><a href="http://blog.ted.com/transcript/" target="_blank"><em>点击这里查看TED上有Transcript的视频</em></a><em>】。</em></p>




<p>最早知道TED是因为Adrian给大家上英语培训课，通常都是在Ted上面找一段视频当作教材，那时候感觉不如现在深切，那就是TED这样的公共资源是何其宝贵，如果你想拓展自己的视野，提升自己的意识，那就要经常学习这样的公共资源。</p>




<p>今天做了一件感觉比较有意义的事情，我给Ted提交了一个<a href="http://www.ted.com/nominate/speaker">推荐演讲者的form</a>，推荐我的boss——<a href="http://www.jonathanpalley.com">Jonathan Palley</a>，他是我的偶像，我觉的大家也会很喜欢他。</p>




<p>最后，<a href="http://www.tedtochina.com/">Ted的中文站</a>也很不错，还有很多<a href="http://www.douban.com/group/tedtalks/">喜欢Ted的圈子</a>和<a href="http://www.douban.com/group/topic/10623699/">推荐的Ted Topic</a>.</p>




<p>Enjoy it.</p>

</div>
  <footer>
    <a rel="full-article" href="/2010/04/17/ted-com/">Read on &rarr;</a>
  </footer>


  </article>


  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/04/15/%E8%A1%A8%E8%BE%BE/">表达</a></h1>
    
    
      <p class="meta">




<time datetime="2010-04-15 00:00:00 +0800" pubdate  updated >Apr 15<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p>今天拆一下词，表，达。</p>




<p>表，就是说出来，也或者就是表示出来，方式很多，但是本质上应该明确和得体，明确和得体都是为接收你信息的人服务，所以这样做是替别人着想。故而，你也可以做成相反的效果，含糊而冒失，这样接收信息的人也许会抓狂，也许无动于衷，因为这又依赖于关系，这样做当然是从自己出发。这一块的学问很快就变成一个简单的排列组合题。关键是你在意什么。</p>




<p>达，就是达到和抵达的意思，如果你期望达到你的目的，也许你需要能控制自己的表述，否则表达的过程就变成了一厢情愿的期望。达总归是依赖于接收方，所以又说明表达本省是不能缺失听众的，当然，再绕的深一点，你自己也是你自己的听众，所以，你应该也可以为自己表达。</p>




<p>所谓小题大作，就是上面这德行。</p>

</div>
  <footer>
    <a rel="full-article" href="/2010/04/15/%E8%A1%A8%E8%BE%BE/">Read on &rarr;</a>
  </footer>


  </article>


  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/04/13/%E6%89%AF%E6%B7%A1/">扯之</a></h1>
    
    
      <p class="meta">




<time datetime="2010-04-13 00:00:00 +0800" pubdate  updated >Apr 13<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p>跟这个哥们认识快十年了，从来都这么叨叨。留此纪念。</p>




<p><span style="color: #204a87;"><span style="font-size: x-small;">(10:59:11) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">丫最近忙不</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(12:37:50) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">非常忙，忙得快泻了。什么指示</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(12:40:35) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">丫心苦了 我代表矿难家属谢谢丫</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:17:54) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">Reply to chat at 12:40 pm</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:17:54) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">不算什么，先感谢国家</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:20:32) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">丫体液调节的</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:21:21) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">确实太忙了，明儿要汇报，写方案。做demo</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:21:56) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">丫原来是作协的</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:23:43) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">丫是不是有什么事儿啊</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:24:35) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">没事 本来是简单交流一下 不过现在才有交有流了</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:25:44) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">原来是肛交不流</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:26:35) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">丫是流氓</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:26:46) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">笔误笔误</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:27:31) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">邪恶，忙什么呢</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:28:04) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">抵抗流感</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:29:04) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">丫没上班儿</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:29:17) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">又半夜手淫了吧</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:29:29) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">天儿冷，注意披肩衣服</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:30:46) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">上班中</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:30:54) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">手最近比较闲</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:32:25) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">咳，得注意点儿了</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:32:56) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">哥们儿这几天在屋里面冻得都跑外面暖和暖和</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:34:04) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">最近想召集大家搞个春游 丫们一个比一个忙</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:35:27) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">好事儿阿，可惜周末又有个结婚的……</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:36:17) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">去哪儿春</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:37:26) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">今年这个变态天气春如四季</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:37:35) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">搞的我很迷茫</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:37:53) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">我打算召集人马爬个山</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:37:58) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">发春都找不准时间</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:38:27) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">看着这个很二的春天 我那个伤身啊</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:38:56) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">还没开始计划 如果明天不是冬天后天不是秋天 我就准备把计划亮出来</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:39:40) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">应该差不多吧，都他妈的may day了</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:40:11) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">据说昨晚黑龙那个江下暴雪了</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:40:29) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">我琢磨着今年六月得飘一回雪</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:40:41) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">切，那算什么</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:41:12) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">看着吧，过两天，山西井下那几个人就从黑龙江钻出来了</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:41:32) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">丫小心被叫喝茶</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:41:57) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">好啊，我要铁观音</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:42:17) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">这几天哥们儿言论老被干掉，妈的</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:42:40) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">丫在新浪勃不起来吧</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:42:59) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">来Tw吧</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:43:23) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">我在开心网公开骂单位，结果两秒以后就被干了</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:43:46) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">这几天检查，不敢乱搞</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:44:00) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">如果你儿子是主席 你连你儿子都不能骂 知道不</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:44:40) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">一萝卜……</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:45:52) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">哎 好啦 麼谈國事</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:46:24) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">丫知道苍 井空之夜不</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:46:53) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">yes i know</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:46:58) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;"><a href="http://dgtimes.timedg.com/html/2010-04/13/content_427081.htm">http://dgtimes.timedg.com/html/2010-04/13/content_427081.htm</a></span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:47:34) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">丫为啥不上tw</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:48:13) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">翻墙容易招致杀身之祸</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:49:23) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">明儿就检查，我晚上就得清除我的纪录，黄河</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:51:18) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;">主 宽恕这个人吧</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:52:43) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">白天不懂夜的黑，你们</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:55:03) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">哥们儿先去吃饭了阿，晚上还得加班</span>
<span style="color: #204a87;"><span style="font-size: x-small;">(17:56:25) </span></span><span style="font-size: small;">w: </span><span style="font-size: small;"> 嗯 晚上披肩衣服</span>
<span style="font-size: x-small;"><span style="color: #cc0000;">(17:56:31) </span></span><span style="font-size: small;">s: </span><span style="font-size: small;">滚，走了</span></p>

</div>
  <footer>
    <a rel="full-article" href="/2010/04/13/%E6%89%AF%E6%B7%A1/">Read on &rarr;</a>
  </footer>


  </article>


  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/04/12/%E6%9B%B4%E6%96%B0/">更新</a></h1>
    
    
      <p class="meta">




<time datetime="2010-04-12 00:00:00 +0800" pubdate  updated >Apr 12<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p>我的一代小i从08年挺到现在，昨天刷机至3.1.2OS以后焕然一新，随后爱不释手，一直玩到深夜。不管是从性能还是整体的感觉，这个版本的一代iphone真是帅到极致。</p>




<p>两年前夏天的一个下午，我从两点到凌晨两点，一直再研究刷机，即使到现在我也一直弄不明白破解和越狱有什么区别，那次我花了12个小时，开始对复杂的刷机过程心生惧怕。随后过了大概一年，就是现在的一年之前，很好奇iphone能不能在ubuntu上面同步itunes，结果机子就横在哪里，不得已，花了大概三个小时刷机并且试图回复所有的联系人和照片，即便那次更新成功，心里仍然留下了不小的伤痕，这叫一个麻烦。更要命的是后来的机子一直不稳定，经常crash。</p>




<p>而这一次，我仅仅用了30分钟，并且在这三十分钟里面我还解决了一个比较奇怪的问题，感叹科技的进步，渐渐的，生活只需要一个action，action背后的逻辑似乎越来越不需要暴露出来。</p>




<p>刷机TIPS: 解决刷机时候1604错误的方法。(同时秀一下新刷的iphone下面使用twitbird的截图 :))
<a href="http://blog.wangyaodi.com/wp-content/uploads/2010/04/20100412.jpg"><img src="http://blog.wangyaodi.com/wp-content/uploads/2010/04/20100412.jpg" alt="" title="TwitBird" width="320" height="480" class="aligncenter size-full wp-image-452" /></a></p>

</div>
  <footer>
    <a rel="full-article" href="/2010/04/12/%E6%9B%B4%E6%96%B0/">Read on &rarr;</a>
  </footer>


  </article>


  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/04/12/js-select-all-checkbox-and-submit-form-via-js/">JS: Select All Checkbox and Submit Form via Js</a></h1>
    
    
      <p class="meta">




<time datetime="2010-04-12 00:00:00 +0800" pubdate  updated >Apr 12<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p><strong>TIPS:</strong></p>




<p><code lang="js">
<script type="text/javascript">
  function SetAllCheckBoxes(FormName, FieldName, CheckValue)<br>
  {<br>
    if(!document.forms[FormName])<br>
      return;<br>
    var objCheckBoxes = document.forms[FormName].elements[FieldName];<br>
    if(!objCheckBoxes)<br>
      return;<br>
    var countCheckBoxes = objCheckBoxes.length;<br>
    if(!countCheckBoxes)<br>
      objCheckBoxes.checked = CheckValue;<br>
    else<br>
    // set the check value for all check boxes<br>
      for(var i = 0; i < countCheckBoxes; i++)<br>
        objCheckBoxes[i].checked = CheckValue;<br>
  }</p>

<p>  function SendForm(FormName, ActionName)<br>
  {<br>
    if(!document.forms[FormName])<br>
      return;<br>
    if(ActionName == 'unread')<br>
      document.forms[FormName].action = '<%= batch_update_notifications_path(:type => "unread") %>';<br>
    if(ActionName == 'remove')<br>
      document.forms[FormName].action = '<%= batch_update_notifications_path(:type => "remove") %>';<br>
    document.forms[FormName].submit();<br>
  }
</script>
</code></p>

</div>
  <footer>
    <a rel="full-article" href="/2010/04/12/js-select-all-checkbox-and-submit-form-via-js/">Read on &rarr;</a>
  </footer>


  </article>


  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/04/09/%E4%B8%89%E4%B8%AA%E9%97%AE%E9%A2%98/">三个问题</a></h1>
    
    
      <p class="meta">




<time datetime="2010-04-09 00:00:00 +0800" pubdate  updated >Apr 9<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p>快毕业了，老师站在讲台上：“探讨三个问题。”</p>




<p>其一，“世界上第一高峰是哪座山?”<br />
大家哄堂大笑：“珠穆朗玛峰!”<br />
老师追问：“第二高峰呢?”<br />
同学们面面相觑，无人应声。<br />
老师在黑板上写：“屈居第二与默默无闻毫无区别。 ”</p>




<p>其二，“有人要烧壶开水，等生好火发现柴不够，他该怎么办?”<br />
有的说赶快去找，有的说去借、去买。<br />
老师说：“为什么不把壶里的水倒掉一些?”</p>




<p>其三，“古代有一人，想学立身的本领。经过反复比较，决心去学屠龙之技。他拜名师，日夜苦练，终有所成。他会怎么样呢?“<br />
同学们兴致勃勃，说他能成为英雄、明星，受世人崇拜。<br />
老师摇头：“这个人一定会潦倒一生，因为世上根本就没有龙。”</p>




<p>这节课，这个老师要学生明白“如何做人、做事、做学问”：
<strong>做人要力求出色，勇争第一，这样别人才能发现你、记住你；<br />
做事要敢于创新，方法灵活，千万不可墨守成规；<br />
做学问要学以致用，要懂得将知识转化为效益，闭门造车没有路。</strong></p>




<p>转自：http://lzhi.info/views/691</p>

</div>
  <footer>
    <a rel="full-article" href="/2010/04/09/%E4%B8%89%E4%B8%AA%E9%97%AE%E9%A2%98/">Read on &rarr;</a>
  </footer>


  </article>


  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/04/06/%E5%AF%B9%E8%AF%9D/">对话</a></h1>
    
    
      <p class="meta">




<time datetime="2010-04-06 00:00:00 +0800" pubdate  updated >Apr 6<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p><strong>一</strong>
-  “大哥 我想去爬华山 赞助些 谢谢”<br />
&#8211; “时间 地点 人物 费用 帐号”<br />
-  “4月17下午到18下午 宿舍成员和我男朋友 二百元 卡号中午发给你”<br />
&#8211; “OK 注意安全 btw 男朋友不是分了吗”<br />
-  “上次不是告诉你我们是吵架了 后来气消了就原谅了”<br />
&#8211; “好吧 科学的吵架不是一件坏事 好自为之”</p>




<p><strong>二</strong>
-  “她们都挺好的你为什么选我”<br />
&#8211; “她们太敏感 我不能做错任何一件事情 也不能说错任何一句话”<br />
-  “怎么讲”<br />
&#8211; “我脾气比较差 有时候说话也很不注意 这样他们感到我伤害了她们的感情和体面 当我低头认错的时候 她们已经刻骨铭心的记恨了”<br />
-  “那是有点累”<br />
&#8211; “所以你比较坚强:p 我喜欢坚强而善良的人”</p>

</div>
  <footer>
    <a rel="full-article" href="/2010/04/06/%E5%AF%B9%E8%AF%9D/">Read on &rarr;</a>
  </footer>


  </article>

<nav role="pagination">
  <div>
    
      <a class="prev" href="/page10/">&larr; Older</a>
    
    <a href="/blog/archives">Blog Archives</a>
    
      <a class="next" href="/page8/">Newer &rarr;</a>
    
  </div>
</nav>

<script type="text/javascript">
    var disqus_shortname = 'andyspersonalblog';
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

</div>
<aside role=sidebar>
  
    <section>
  <img src="http://farm8.staticflickr.com/7401/8772484013_a1af7dc483_o.jpg"></img>
  <p><b style="color:red">安迪</b><br />
     <b style="color:red">西安</b>, 中国 <br />
     <b style="color:red">自由职业</b> at <a href="http://intridea.com">Intridea</a></p>
</section>
<section>
  <h1>近期博文</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/2013/12/06/31-years-old/">31岁了</a>
      </li>
    
      <li class="post">
        <a href="/2013/09/01/xian-rubyists-on-trello/">如何用Trello组织西安Rubyists聚会</a>
      </li>
    
      <li class="post">
        <a href="/2013/07/21/be-open-to-express-yourself/">从容表达</a>
      </li>
    
      <li class="post">
        <a href="/2013/07/20/remote-working/">远程工作那些事儿</a>
      </li>
    
      <li class="post">
        <a href="/2013/07/17/xian-rubyists-party-v2/">西安Rubyists线下活动通知[20130720]</a>
      </li>
    
      <li class="post">
        <a href="/2013/07/07/on-the-road/">在路上</a>
      </li>
    
      <li class="post">
        <a href="/2013/07/05/bookclub/">读书俱乐部</a>
      </li>
    
      <li class="post">
        <a href="/2013/06/25/random-thoughts/">莫愁前路无知己</a>
      </li>
    
  </ul>
  <p><a style="color:red" href="/blog/archives">更多&#8230;</a></p>
</section>

<section>
  <h1>新浪微博</h1>
  <ul id="weibo">
    <li>
      <iframe 
        width="100%" 
        height="550" 
        class="share_self" 
        frameborder="0" 
        scrolling="no" 
        src="http://widget.weibo.com/weiboshow/index.php?width=0&height=550&ptype=1&speed=0&skin=&isTitle=0&noborder=1&isWeibo=1&isFans=&uid=1692318703&verifier=27e84cd9&dpc=1">
      </iframe>
    </li>
  </ul>
</section>


  
</aside>

    </div>
  </div>
  <footer><p>
  Copyright &copy; 2013 - Andy Wang -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

</footer>
</body>
</html>
